@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*Additional styling*/

/*Home-Page*/

/*Desktop V*/

.image-gallery-image{
margin-top: 60px;
}

